@import url("https://s.metamuffin.org/static/font-ubuntu/include.css");

:root {
  --bg2: #141414;
  --bg1: #060606;
}

body {
  margin: 3em;
  background-color: var(--bg1);
}

nav,article {
  margin: 1em;
  background-color: var(--bg2);
  padding: 1em;
  border: 0px solid transparent;
  border-radius: 1em;
}

h1 {font-size: xx-large }
h2 {font-size: x-large }
h3 {font-size: large }
h4 {font-size: medium }

p,h1,h2,h3,h4,h5,h6,li { font-family: "Ubuntu", sans-serif; }
h1,h2 { color: #b575ff }
h3 { color: #ff83fd; margin-left: 1em }
h4 { color: #ff82b2; margin-left: 2em }
p,li { color: white; margin-left: 3em }
a { color: #82a8ff; font-style: italic; text-decoration: underline }
hr { border: 1px solid grey }

math {color:white}

pre,code {
  color: #eeeeee;
  font-family: monospace;
  background-color: black;
  border: 0px solid transparent;
  border-radius: 5px;
  padding: 0.2em;
}
pre { margin-left: 4em; margin-right: 4em; overflow-y: auto; }
